services:
  - type: static_site
    name: greencare
    env: static # El entorno es estático, pero los comandos de compilación se ejecutan en un entorno Node.js
    buildCommand: npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: "/*"
        destination: "/index.html"
